
:root {
    --global-height-nav: 64px;
    --feds-height-nav: 63px;
    --global-height-breadcrumbs: 33px;
    --scroll-padding-block: 0;
    --global-height-navPromo: 72px;
    --feds-totalheight-nav: calc(var(--feds-height-nav, --global-height-nav) + var(--feds-height-breadcrumbs, --global-height-breadcrumbs));
    --feds-localnav-height: 40px;
    --link-color: rgb(39, 77, 234);
    --link-hover-color: rgb(29, 62, 207);
    --link-color-dark: rgb(59, 99, 251);
    --link-hover-color-dark: rgb(39, 77, 234);
    --background-color: #fff;
    --overlay-background-color: #ffffff20;
    --highlight-background-color: #ffffff40;
    --text-color: #2c2c2c;
    --color-white: #FFF;
    --color-gray-100: #F8F8F8;
    --color-gray-200: #E8E8E8;
    --color-gray-300: #D4D4D4;
    --color-gray-400: #B6B6B6;
    --color-gray-500: #909090;
    --color-gray-600: #686868;
    --color-gray-700: #444;
    --color-gray-800: #242424;
    --color-black: #000;
    --color-brand-title: #000B1D;
    --color-accent: var(--link-color-dark);
    --color-accent-hover: var(--link-hover-color-dark);
    --color-accent-down: #095aba;
    --color-accent-focus-ring: #378ef0;
    --color-info-accent: #5C5CE0;
    --color-info-accent-hover: #4646C6;
    --color-info-accent-down: #3D3DB4;
    --color-info-accent-light: #DEDEF9;
    --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-s: 24px;
    --spacing-m: 32px;
    --spacing-l: 40px;
    --spacing-xl: 48px;
    --spacing-xxl: 56px;
    --spacing-xxxl: 80px;
    --spacing-l-static: 48px;
    --spacing-xl-static: 56px;
    --spacing-xxl-static: 80px;
    --spacing-xxxl-static: 104px;
    --type-heading-all-weight: 700;
    --type-heading-xxxl-size: calc(var(--font-size-multiplier, 1) * 44px);
    --type-heading-xxxl-lh: 55px;
    --type-heading-xxl-size: calc(var(--font-size-multiplier, 1) * 36px);
    --type-heading-xxl-lh: 45px;
    --type-heading-xl-size: calc(var(--font-size-multiplier, 1) * 28px);
    --type-heading-xl-lh: 35px;
    --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 24px);
    --type-heading-l-lh: 30px;
    --type-heading-m-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-heading-m-lh: 25px;
    --type-heading-s-size: calc(var(--font-size-multiplier, 1) * 18px);
    --type-heading-s-lh: 22.5px;
    --type-heading-xs-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-heading-xs-lh: 20px;
    --type-heading-xxs-size: calc(var(--font-size-multiplier, 1) * 14px);
    --type-heading-xxs-lh: 18px;
    --type-heading-base-lh: 1.2;
    --type-body-xxl-size: calc(var(--font-size-multiplier, 1) * 28px);
    --type-body-xxl-lh: 42px;
    --type-body-xl-size: calc(var(--font-size-multiplier, 1) * 22px);
    --type-body-xl-lh: 33px;
    --type-body-l-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-body-l-lh: 30px;
    --type-body-m-size: calc(var(--font-size-multiplier, 1) * 18px);
    --type-body-m-lh: 27px;
    --type-body-s-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-body-s-lh: 24px;
    --type-body-xs-size: calc(var(--font-size-multiplier, 1) * 14px);
    --type-body-xs-lh: 21px;
    --type-body-xxs-size: calc(var(--font-size-multiplier, 1) * 12px);
    --type-body-xxs-lh: 18px;
    --type-detail-all-weight: 700;
    --type-detail-all-transform: uppercase;
    --type-detail-xl-size: calc(var(--font-size-multiplier, 1) * 20px);
    --type-detail-xl-lh: 25px;
    --type-detail-l-size: calc(var(--font-size-multiplier, 1) * 16px);
    --type-detail-l-lh: 20px;
    --type-detail-m-size: calc(var(--font-size-multiplier, 1) * 12px);
    --type-detail-m-lh: 15px;
    --type-detail-s-size: calc(var(--font-size-multiplier, 1) * 10px);
    --type-detail-s-lh: 12px;
    --grid-container-width: 83.4%;
    --grid-column-width: calc(var(--grid-container-width) / 12);
    --grid-margins-width: calc((100% - var(--grid-container-width)) / 2);
    --grid-margins-width-10: calc((100vw - (var(--grid-column-width) * 10)) / 2);
    --grid-margins-width-8: calc((100vw - (var(--grid-column-width) * 8)) / 2);
    --grid-margins-width-6: calc((100vw - (var(--grid-column-width) * 6)) / 2);
    --aspect-ratio-square: 1/1;
    --aspect-ratio-standard: 4/3;
    --aspect-ratio-wide: 16/9;
    --aspect-ratio-tall: 9/16;
    --icon-size-xxl: 80px;
    --icon-size-xl: 64px;
    --icon-size-l: 56px;
    --icon-size-m: 40px;
    --icon-size-s: 32px;
    --icon-size-xs: 24px;
    --icon-size-xxs: 16px;
}

:root:lang(ar) {
    --body-font-family: adobe-arabic, myriad-arabic, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
    --font-size-multiplier: 1.25;
}

:root:lang(ko-KR),
:root:lang(ko) {
    --body-font-family: adobe-clean-han-korean, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
    word-break: keep-all;
}

:root:lang(ja-JP),
:root:lang(ja) {
    --body-font-family: adobe-clean-han-japanese, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

:root:lang(zh-TW) {
    --body-font-family: adobe-clean-han-traditional, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

:root:lang(zh-CN) {
    --body-font-family: adobe-clean-han-simplified-c, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

:root:lang(zh-HK) {
    --body-font-family: adobe-clean-han-traditional, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

:root:lang(th) {
    --body-font-family: adobe-clean-thai, 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
}

@media (min-width: 1200px) {
    :root {
        --spacing-xl: 56px;
        --spacing-xxl: 80px;
        --spacing-xxxl: 104px;
        --type-heading-xxxl-size: calc(var(--font-size-multiplier, 1) * 80px);
        --type-heading-xxxl-lh: 88px;
        --type-heading-xxl-size: calc(var(--font-size-multiplier, 1) * 44px);
        --type-heading-xxl-lh: 55px;
        --type-heading-xl-size: calc(var(--font-size-multiplier, 1) * 36px);
        --type-heading-xl-lh: 45px;
        --type-heading-l-size: calc(var(--font-size-multiplier, 1) * 28px);
        --type-heading-l-lh: 35px;
        --type-heading-m-size: calc(var(--font-size-multiplier, 1) * 24px);
        --type-heading-m-lh: 30px;
        --type-heading-s-size: calc(var(--font-size-multiplier, 1) * 20px);
        --type-heading-s-lh: 25px;
        --type-heading-xs-size: calc(var(--font-size-multiplier, 1) * 18px);
        --type-heading-xs-lh: 22.5px;
    }
}

@media (min-width: 1440px) {
    :root {
        --grid-container-width: 1200px;
    }
}

.heading-xxxl,
.heading-xxl,
.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.heading-xs,
.heading-xxs,
.body-xxl,
.body-xl,
.body-l,
.body-m,
.body-s,
.body-xs,
.detail-xl,
.detail-l,
.detail-m,
.detail-s,
.detail-xs {
    margin: 0px;
}

.heading-xxl {
    font-size: var(--type-heading-xxl-size);
    line-height: var(--type-heading-xxl-lh);
}

.heading-l {
    font-size: var(--type-heading-l-size);
    line-height: var(--type-heading-l-lh);
}

.body-xl {
    font-size: var(--type-body-xl-size);
    line-height: var(--type-body-xl-lh);
}

.body-m {
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
}

.con-button {
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 5px 14px;
    text-decoration: none;
}

.con-button:hover {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.xl-button .con-button,
.con-button.button-xl {
    border-radius: 25px;
    font-size: 19px;
    line-height: 24px;
    min-height: 28px;
    padding: 10px 24px 8px;
}

.light .con-button {
    border-color: var(--text-color);
    color: var(--text-color);
}

.light .con-button:hover,
.light .con-button:active {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
}

.con-button.blue {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}

.con-button.blue:hover,
.con-button.blue:active {
    background: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
    color: var(--color-white);
}

img {
    max-width: 100%;
    height: auto;
}

svg.icon-milo,
img.icon-milo {
    height: 1em;
    position: relative;
    top: 0.1em;
    width: auto;
}

div:not([class]) > div > div > img[src^="./media_"] {
    width: 100%;
}

.container {
    width: var(--grid-container-width);
    margin: 0px auto;
}

main > div,
main .section[data-status="decorated"] {
    display: none;
}

main > .section,
.fragment > .section {
    display: block;
    position: relative;
}

.con-button svg.icon-milo {
    display: inline-block;
    height: 1em;
    width: 1em;
}

span.icon.margin-inline-end {
    margin-inline-end: 8px;
}

.con-block .foreground {
    position: relative;
}

@font-face {
    font-family: "Trebuchet MS";
    font-weight: 700;
    size-adjust: 95%;
    src: local("Trebuchet MS Bold"), local("TrebuchetMSBold");
}

@font-face {
    font-family: "Trebuchet MS";
    font-weight: 400;
    size-adjust: 93%;
    src: local("Trebuchet MS"), local("TrebuchetMS");
}

html {
    scroll-padding-block: var(--scroll-padding-block);
}

body:has(footer:focus-within) #onetrust-consent-sdk:not(:has(#ot-cookie-button.show)) {
    position: sticky;
    bottom: 0px;
    z-index: 2147483645;
}

body:has(footer:focus-within) #onetrust-consent-sdk:not(:has(#ot-cookie-button.show)) #onetrust-banner-sdk {
    position: sticky;
}

body {
    display: block;
    font-family: var(--body-font-family);
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    opacity: 1 !important;
}

body:has(.dialog-modal) #onetrust-consent-sdk {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    scroll-margin-top: var(--feds-totalheight-nav);
}

h1 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
}

h2 {
    font-size: var(--type-heading-l-size);
    line-height: var(--type-heading-l-lh);
}

:is(h1, h2, h3, h4, h5, h6, p):lang(ja) {
    line-break: strict;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    color: var(--link-hover-color);
}

a:has(> sub:only-child) {
    text-decoration: unset;
}

@keyframes modalSlideIn-frictionlessBrowserExtension {
    0% {
        right: -50rem;
    }

    100% {
        right: 0px;
    }
}

main {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;;
}

.marquee {
    position: relative;
    color: var(--color-white);
    display: flex;
}

.marquee.light,
.marquee.mobile-light,
.marquee.quiet:not(.dark),
.marquee.inline {
    color: var(--text-color);
}

.marquee .icon-area picture,
.marquee .icon-area a {
    display: inline-flex;
}

.marquee .foreground {
    position: relative;
    padding: var(--spacing-xxl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    z-index: 1;
}

.marquee .action-area {
    display: flex;
    margin: 0px;
    gap: var(--spacing-s);
    flex-flow: column wrap;
    align-items: stretch;
}

.marquee .icon-area {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    font-size: var(--type-body-m-size);
    font-weight: 700;
}

.marquee .icon-area img {
    height: var(--icon-size-l);
    width: auto;
    display: block;
}

.marquee .background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.marquee .background video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.marquee .background .tablet-only,
.marquee .background .desktop-only {
    display: none;
}

.marquee .background .expand-background {
    position: absolute;
    inset: 0px;
}

.marquee .text p {
    margin: 0 0 var(--spacing-s);
}

.marquee .text p:last-of-type {
    margin-bottom: 0px;
}

.marquee.large {
    display: block;
}

.marquee:is(.center, .centered) .icon-area img {
    margin: 0px auto;
}

.marquee.large .icon-area {
    font-size: var(--type-body-xl-size);
}

.marquee.large .icon-area img {
    height: var(--icon-size-xl);
}

.marquee.large .foreground {
    padding: var(--spacing-m) 0;
}

.marquee.large .background img {
    max-height: 259px;
}

.marquee.large .text {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.marquee .text .detail-l,
.marquee .text .heading-xl,
.marquee .text .heading-xxl {
    margin-bottom: var(--spacing-xs);
}

.marquee.large .text .action-area {
    margin-bottom: var(--spacing-s);
}

@media screen and (min-width: 600px) {
    .marquee .action-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-s);
    }

    .marquee .background .mobile-only,
    .marquee .background .desktop-only {
        display: none;
    }

    .marquee .background .tablet-only {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .marquee .text {
        padding: var(--spacing-xl) 0;
    }

    .marquee,
    .marquee.split {
        min-height: 560px;
    }

    .marquee .background .mobile-only,
    .marquee .background .tablet-only {
        display: none;
    }

    .marquee .background .desktop-only {
        display: block;
    }

    .marquee .foreground {
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 100px;
    }

    .marquee .foreground .text {
        max-width: 500px;
    }

    .marquee.large .text {
        display: block;
    }

    .marquee.large {
        min-height: 700px;
        display: flex;
    }

    .marquee.large .background img {
        max-height: unset;
    }
}

@media screen and (min-width: 1440px) {
    .marquee.large .foreground.container {
        max-width: var(--grid-container-width);
    }
}

@import url("../../styles/iframe.css");

@import url("../video/video.css");

@keyframes slideright {
    0% {
        translate: 0px;
    }

    100% {
        translate: -100px;
    }
}

@keyframes rtlslideright {
    0% {
        translate: 0px;
    }

    100% {
        translate: 100px;
    }
}

@keyframes slideleft {
    0% {
        translate: -100px;
    }

    100% {
        translate: 0px;
    }
}

@keyframes rtlslideleft {
    0% {
        translate: 100px;
    }

    100% {
        translate: 0px;
    }
}

@keyframes slideup {
    0% {
        translate: 0px 40px;
    }

    100% {
        translate: 0px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

html:has(body.disable-ios-scroll) {
    height: 100dvh;
    position: fixed;
}

@keyframes mega-menu-skeleton {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

:root {
    --modal-focus-color: #109cde;
    --modal-max-height: calc((100vh - 6px) - 2em);
    --modal-max-height-mobile: calc((100% - 6px) - 2em);
    --modal-z-index: 102;
    --modal-z-index-curtain: 101;
    --modal-close-accent-color: #707070;
    --jarvis-z-index-override: 100;
    --tall-video-padding: var(--spacing-xl);
}

:root {
    --feds-maxWidth-nav: 1440px;
    --feds-minWidth-menu: 1200px;
    --feds-height-breadcrumbs: 33px;
    --feds-gutter: 8px;
    --feds-background-nav: #f8f8f8;
    --feds-background-popup: #f3f3f3;
    --feds-background-promo: #fff;
    --feds-background-promo--dark: #000;
    --feds-borderColor: #eaeaea;
    --feds-borderColor-menu: #e1e1e1;
    --feds-borderColor-navLink: #2c2c2c;
    --feds-color-adobeBrand: #eb1000;
    --feds-color-headline: #505050;
    --feds-color-hamburger: #2d2d2d;
    --feds-color-breadcrumbs--current: #2c2c2c;
    --feds-color-signIn: #4b4b4b;
    --feds-radius-utilityIcon: 4px;
    --feds-background-link--hover: #e9e9e9;
    --feds-borderColor-link: #e9e9e9;
    --feds-color-link: #292929;
    --feds-color-blue-link: #274dea;
    --feds-color-link--hover: #1d3ecf;
    --feds-color-navLink-description: #505050;
    --feds-color-link-breadcrumbs: #707070;
    --feds-background-footer: #fafafa;
    --feds-borderColor-featuredProducts: #999;
    --feds-gutter-footer: 32px;
    --feds-color-white-v2: #fff;
    --feds-color-black-v2: #000;
    --feds-background-cloudmenu-v2: #111;
    --feds-borderColor-link-v2: #eaeaea;
    --feds-backgroundColor-tabs-v2: #f8f8f8;
    --feds-backgroundColor-tabContent-v2: #f3f3f3;
    --feds-borderColor-localnav-v2: #eee;
    --app-banner-height: 76px;
    --feds-skeleton-color-1: #D3D3D3;
    --feds-skeleton-color-2: #EAEAEA;
    --feds-skeleton-color-3: #D3D3D3;
    --feds-skeleton-opacity: 0.7;
}

.text-block {
    --accent-height: 10px;
    position: relative;
}

.text-block p,
.text-block [class^="body-"] {
    margin: var(--spacing-xs) 0;
}

.text-block [class^="body-"]:only-child {
    margin: 0px;
}

.text-block [class^="heading"] {
    margin: 0 0 var(--spacing-xs) 0;
}

.text-block .cta-container,
.text-block p.action-area {
    margin-top: var(--spacing-s);
}

.section-metadata {
    display: none;
}

.section.xl-spacing {
    padding: var(--spacing-xl) 0;
}

.section[class*="grid-width-"] {
    padding-left: var(--grid-margins-width);
    padding-right: var(--grid-margins-width);
    display: grid;
    gap: var(--spacing-m);
}

@media (max-width: 600px) {
    .section[class*="grid-width-"] {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 920px) {
    .section.grid-width-8 {
        padding-left: calc(-400px + 50vw);
        padding-right: calc(-400px + 50vw);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    70%,
    100% {
        transform: rotate(1turn);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translate3d(0px, 100%, 0px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes carousel-fade-button {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.s1 {
    flex: 1;
}

@media screen and (min-width: 767px) {
    .s1 {
        max-height: 700px;
    }
}

@media screen and (max-height: 875px) {
    .marquee.large {
        max-height: calc(100svh - 175px) !important;
        min-height: calc(100svh - 175px) !important;
    }

    .section.s1 {
        max-height: calc(100svh - 175px) !important;
    }
}